@font-face {
	font-family: "Montserrat-SemiBold";
	src: local('Montserrat-SemiBold'),local('Montserrat SemiBold'),
		url('../fonts/Montserrat-SemiBold.ttf') format("truetype"),
		url('../fonts/Montserrat-SemiBold.eot') format("opentype"),
		url('../fonts/Montserrat-SemiBold.woff') format("woff"),
		url('../fonts/Montserrat-SemiBold.woff2') format("woff2")
}
@font-face {
	font-family: "Montserrat-ExtraBold";
	src: local('Montserrat-ExtraBold'),local('Montserrat ExtraBold'),
		url('../fonts/Montserrat-ExtraBold.ttf') format("truetype"),
		url('../fonts/Montserrat-ExtraBold.eot') format("opentype"),
		url('../fonts/Montserrat-ExtraBold.woff') format("woff"),
		url('../fonts/Montserrat-ExtraBold.woff2') format("woff2")
}

@font-face {
	font-family: "Montserrat-Bold";
	src:local('Montserrat-Bold') ,local('Montserrat Bold') 
		url('../fonts/Montserrat-Bold.ttf') format("truetype"),
		url('../fonts/Montserrat-Bold.eot') format("opentype"),
		url('../fonts/Montserrat-Bold.woff') format("woff"),
		url('../fonts/Montserrat-Bold.woff2') format("woff2")
}

@font-face {
	font-family: "Montserrat-Regular";
	src:local('Montserrat-Regular'),local('Montserrat Regular') 
		url('../fonts/Montserrat-Regular.ttf') format("truetype"),
		url('../fonts/Montserrat-Regular.eot') format("opentype"),
		url('../fonts/Montserrat-Regular.woff') format("woff"),
		url('../fonts/Montserrat-Regular.woff2') format("woff2")
}