footer {
  background: #ffffff;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  border-radius: 30px 30px 0px 0px;

}

footer ul {
  margin-bottom: 0 !important;
}


.footer__block  {
 
  .conditions a:hover{
    color: #ffa542;
    transition:0.5s;
  }

  li a:hover{
    transition:0.5s;
    color: #ffa542;
  }
  a {
  font-family: 'Montserrat-Regular', sans-serif;
  font-size: 17px;
  color: #000000;
  }
}
.language svg {
  fill: none;
  cursor: pointer;
}

.language svg path {
  stroke: #838383;
  stroke-width: 1.5;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.language_url:hover {
  transition:0.5s;
  color: #ffa542;
}

.social__items {
  text-align: right;
}
.footer__block .social__url {
  margin-right: 18px;
  &:last-child {
    margin-right: 0;
  }
}


.basket_footer{
  position: absolute;
  bottom: 0;
}


.cart-footer {
  margin-top: 407px

}