.block_title {
  font-family: 'Montserrat-SemiBold', sans-serif;
  font-size: 20px;
  line-height: 24px;
  color: #838383;
}
.logo {
  font-family: 'Montserrat-ExtraBold', sans-serif;
  font-size: 25px;
  line-height: 30px;
  color: #101010;
  cursor: pointer;
  text-decoration: none;
  
}

.blocks__store__title {
  font-family: 'Montserrat-SemiBold', sans-serif;
  font-size: 20px;
  line-height: 24px;
  color: #838383;
  margin-bottom: 20px;
}
